body {
    font-size: 18px;
}

h1 {
    margin: 1.5em 0 1.5em 0;
}

h2 {
    margin: 2em 0 1em 0;
}

h3 {
    margin: 1em 0 0.5em 0;
}

.button {
    padding: 0 2.5rem !important;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

label {
    text-align: right;
}

hr {
    border: solid 1px #d2d2d2;
    width: 100%;
}

footer {
    font-size: 0.8em;
}

.icon {
    max-width: 300px;
}

.visibility-hidden {
    visibility: hidden;
}

/**
 * Special classes for the button to open icon websites.
 */

.icon-set-website .column:nth-child(2) {
    padding-right: 0rem;
}

.icon-set-website .column:nth-child(3) a {
    padding: 0 !important;
    width: 100%;
}

.button-icon {
    padding-bottom: 0.4rem;
    font-size: 2rem;
    vertical-align: middle;
}

/**
 * Special classe to toggle the settings.
 */
.settings-card.deactivated {
    display: none;
}